.shadow {
    color: transparent;
    text-shadow: 0 1px 2px #777777;
}

.flicker {
    color: #777777;
    -webkit-animation: flicker 2s;
}

@-webkit-keyframes flicker {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.text-default {
    color: #fff;
}

a {
    target: _self;
    text-decoration: none;
}

.links {
    max-width: 300px;
}