<html>

<head>
    <title>Download</title>
    <link rel="stylesheet" href="../statics/css/style.css">
    <link rel="stylesheet" href="../statics/plugins/bootstrap/css/bootstrap.min.css">
    <style type="text/css">
        .a {
            display: block;
            border: 1cm;
            padding: 5px;
            margin-bottom: 1em;
            border: #777777 1px solid;
            border-radius: 3px;
            width: 80%;
            background-color: rgba(255, 255, 255, 0.589);
            color: #000;
            margin: 0 auto;
        }
    </style>
</head>

<body background="../statics/img/index_bg.png" class="text-center flicker"
    style="background-repeat:no-repeat;background-attachment:fixed;background-size:100% 100%;"></body>
<h1>Download</h1>
<div class="list-group">
    <a target="_blank" href="https://www.bilibili.com/video/BV1GJ411x7h7/?share_source=copy_web" class="a active">Destiny v1.1</a>
    <a target="_blank" href="https://www.bilibili.com/video/BV1BG4y157ue/?share_source=copy_web" class="a">Destiny v1.0</a>
    <li role="separator" class="divider"></li>
    <a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=UGJhYWNgaWdpYmIQISF_Mz89" class="a ">Join us</a>
    <a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=UGJhYWNgaWdpYmIQISF_Mz89" class="a ">Support us</a>
    <a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=UGJhYWNgaWdpYmIQISF_Mz89" class="a ">Give us some suggestions</a>
</div>
<main class="main-container">
    <div class="main-content">
        <div class="links">
            <a href="../index.html" target="_self" class="ripple-1"><span>Back</span></a>
        </div>
    </div>
</main>
<script src="../statics/javascript/script.js"></script>
</body>

</html>